body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #253061;
    background: #ede9e1;
}

ul{
    list-style-type: none; /* Removes bullets */
    padding: 0;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: 20px auto;
    overflow: hidden;
}

.slide {
    display: none;
} 

.slide img {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
    border-radius: 12px;
    /* I asked ChatGPT how to put fadeing on the edges of the images: */
    -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 90%);
            mask-image: radial-gradient(circle, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 90%);
   
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
    color: #ede9e1;
    background-color: #253061;
}

.next {
    right: 10px;
    color: #ede9e1;
    background-color: #253061;
}

.songs-list {
    display: none;
    margin-left: 20px;
    text-align: center;
}

h3{
    text-align: center;
}
h3:hover{
    text-decoration: underline;
    box-shadow: 0 8px 16px rgba(176, 10, 127, 0.1);
    cursor: pointer;
}
